*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgba(50,63,79);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.wrapper{
    max-width: 1200px;
    position: relative;
}
.wrapper i{
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s all ease-in-out;
    transform: scale(0);
}
.wrapper:hover i{
    transform: scale(1);
}
.wrapper i:first-child{
    left: -23px;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .slide{
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slide img{
    height: 400px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
    animation: scrollCheck .5s ease-in-out;
    transform-origin: left;
}
@keyframes scrollCheck{
    0%{
        transform: scale(.7);
    }
    100%{
        transform: scale(1);
    }
}
.slide img:first-child{
    margin-left: 0px;
}